
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediksi Stres Mahasiswa</title>
</head>
<body>
    <h2>Form Kuesioner DASS-21</h2>
    <form action="/predict" method="post">
        {% for i in range(1, 22) %}
            <label for="q{{ i }}">Pertanyaan {{ i }}:</label>
            <select name="q{{ i }}" required>
                <option value="0">0 - Tidak Pernah</option>
                <option value="1">1 - Kadang-kadang</option>
                <option value="2">2 - Cukup sering</option>
                <option value="3">3 - Sangat sering</option>
            </select><br><br>
        {% endfor %}
        <button type="submit">Prediksi</button>
    </form>
</body>
</html>
